<div class="row">
  <div class="col-md-12">
    <h3>Totals</h3>
  </div>
</div>
<div class="row">

  {{#chart-wrapper label="Users" size=2}}
    {{raw-metric metric=model.users_count}}
  {{/chart-wrapper}}

  {{#chart-wrapper label="Zones" size=2}}
    {{raw-metric metric=model.zones_count}}
  {{/chart-wrapper}}

  {{#chart-wrapper label="Active" size=2}}
    {{raw-metric metric=model.active_users}}
  {{/chart-wrapper}}

  {{#chart-wrapper label="Completed Hunts" size=2}}
    {{raw-metric metric=model.completed_hunts}}
  {{/chart-wrapper}}

</div>

<div class="row">
  <div class="col-md-12">
    <h3>This Week</h3>
  </div>
</div>
<div class="row">
  {{#chart-wrapper label="Visits" size=2}}
    {{metric-query eventCollection="index" queryType="count"}}
  {{/chart-wrapper}}

  {{#chart-wrapper label="Signups" size=2}}
    {{metric-query eventCollection="signup" queryType="count"}}
  {{/chart-wrapper}}
</div>

<div class="row">
  <div class="col-md-12">
    <h3>This Month</h3>
  </div>
</div>
<div class="row">
  {{#chart-wrapper label="Organic Funnel"}}
    {{funnel-analysis labels="Index,Intro1,Intro2,Intro3,Location,GeolocationSuccess,Search,LoginInitiated,JoinInitiated" query="organicFunnel"}}
  {{/chart-wrapper}}
</div>